################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/API/.vscode
/src/client/.vscode

# Local environment files (copy from .template.ts and add your keys)
/src/client/src/environments/environment.container.ts
/src/client/src/environments/environment.local.ts
